
.project-card-reversed .project-thumb {
  order: 2;
}

.project-card-reversed .project-copy {
  order: 1;
}

.project-card-reversed {
  grid-template-columns: 1fr minmax(180px, 280px);
}

@media (max-width: 768px) {
  .project-card {
    grid-template-columns: 1fr;
  }

  .project-thumb {
    min-height: 120px;
  }
}



.project-card {
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.project-copy {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1.5rem;
}

.project-description {
  margin-top: 0.1;
  color: rgba(255,255,255,0.7);
  font-size: 0.9rem;
  line-height: 1.5;

}

.project-copy-title {
  color: rgba(255,255,255,0.9);
  letter-spacing: 0.05em 0.1rem;
  margin: 0.05rem;
  font-family: var(--copy-title);
  font-weight: 900;
  font-size: 1.5rem;
}

.tag {
  font-size: 0.75rem;
  background-color: rgba(255,255,255,0.1);
  color: rgba(255,255,255,0.6);
  border: 1px solid rgba(109, 14, 234, 0.14);
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-family: var(--mono);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: background-color 0.3s, color 0.3s;
}

@media (hover: hover) {
  .tag:hover {
    background-color: rgba(255,255,255,0.2);
    color: rgba(255,255,255,0.9);
  }
}

@media (max-width: 768px) {
  .project-copy {
    grid-template-rows: auto auto auto;
    padding: 0;
  }
  .project-copy-title {
    font-size: 1.25rem;
  }
}

@media (max-width: 1300px) {
  .project-card {
    grid-template-columns: 1fr;
  }
}