.projects-list {
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
}
.projects-list > *:not(:last-child) {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#projects-section-title {
    font-size: 6.5vh;
    line-height: 1.2;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.project-section {
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr;
}

@media (max-width: 768px) {
    .project-section {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    #projects-section-title {
        writing-mode: horizontal-tb;
        text-orientation: initial;
        font-size: 4.5vh;
    }

    .projects-list {
        max-height: 90vh;
    }
}